#sticker{
    display: inline-block;
    text-align: center;
    border: 1px black solid;
    width: 5cm;
    height:140px;
    font-size: 12px;
}
#toPrint{
    text-align: center;
}
.names{
    font-size: 14px;
}

@page { size: auto;  margin: 0mm; }